/* Riduce il margine del body al 5% su mobile */
body {
  margin: 5% !important;
  padding: 1% !important;
  font-size: 1.1em;
  line-height: 1.4;
  box-sizing: border-box;
}

/* Nasconde la foto su mobile */
#intro {
  display: inline-block !important; /* Mostra il testo di presentazione su mobile */
  /*margin: 1% !important;
  padding: 1% !important;
  box-sizing: border-box;
}*/

#id_image {
  display: none !important; /* Nasconde l'immagine su mobile */
}

/* Riduce tutti gli altri margini e padding all'1% */
/* #mobile-intro, #research, #footer, section {
  margin: 1% !important;
  padding: 1% !important;
  box-sizing: border-box;
}*/

/* Rende i link inline e senza margini */
a {
  margin: 0;
  padding: 0;
  display: inline;
}

/* Adatta le immagini eventualmente presenti */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
