body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#word-display {
  margin-top: 0;
  text-align: center;
  font-size: 10vw;
  font-weight: 400;
  white-space: pre-line;
}

#home-btn {
  width: 90px;
  height: 40px;
  padding: 0;
  font-size: 1.1rem;
  box-sizing: border-box;
  border-radius: 8px;
}

.sottotitolo {
  display: block;
  font-size: 0.3em;
  font-weight: normal;
  margin-top: 0.2em;
}

/* Fonts */

@font-face {
  font-family: 'ITC Avant Garde Gothic';
  src: url('fonts/avantgardegothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Matisse EB';
  src: url('fonts/EVA-Matisse_Classic.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mazeline';
  src: url(fonts/MazeLine-Free.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'cakezombie';
  src: url(fonts/CakeZombie-Ea0dr.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Guitarism';
  src: url(fonts/D3Guitarism-eZdg.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ZuberStone';
  src: url(fonts/ZuberStone-AEEg.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
